.pic {
    float: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.number {
	padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
	font-size: 300%;
	display: block;
}


h1 {
    font-size: 50px;
    padding-left: 30px;
    margin: 0px;
    font-weight: 200;
}

.counter {
	padding-left: 30px;
    padding-top: 30px;
	padding-right: 10px;
	font-size: 300%;
	float: left;
	display: inline;	
}

.reset{
	padding-left: 30px;
	float: left;

}